.head {
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 150px;
    font-weight: bold;
    font-size: large;
}
body {
    background-color: white;
}
.requisitos {
    border: solid lightslategray 3px;
}
img {
    width: 60px;
    height: 60px;
    float: left;
}
html {
    background-color: #333;
}